@font-face {
  font-family: 'heading';
  src:url('../fonts/DomaineDisplay-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-medium';
  src:url('../fonts/avenir-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-light';
  src:url('../fonts/avenir-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-heavy';
  src:url('../fonts/avenir-heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avenir-black';
  src:url('../fonts/avenir-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	font-family: "avenir-light", "avenir-medium",-apple-system;
}

html {
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
}

body {
	background: #fff;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: black;
}

.red {
	color: #f3595b;
}

.container,
.container__footer,
.container-test .slider {
	margin: auto;
	max-width: 860px;
	width: 100%;
	padding: 0 20px;
}

.container-test .slider {
	padding: 0;
}

.container {
	padding: 10% 20px;
}
.small-top {
	padding: 5% 20px;
}
.container img {
	width: 100%;
	margin: 15% 0 5%
}
.container__footer {
	padding: 5% 20px;
}

img.logo {
	width: 62%;
	margin-top: 12px !important;
	max-width: 130px;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.flex-one {
	min-width: 28%;
	font-size: 24px;
}

strong {
	font-size: 20px;
}

.emoji {
	position: relative;
	top: 2px;
}

.flex-one {
	font-size: 24px;
}

h1 {
	display: inline;
	font-weight: 100;
	font-size: 2.8vw;
	line-height: 4.6vw;
	position: relative;
}

h1 a {
	text-decoration: none;
	color: #4dd1ff;
}

.space {
	display: block;
	margin-bottom: 20px;
}

.slider {
	margin-bottom: 80px;
	position: relative;
	overflow: hidden;
}
.cta {
	font-size: 20px;
	font-family: 'avenir-heavy';
	display: inline-block;
	outline: none;
	border: none;
	color: black;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
	background: transparent;
	transition: all .3s ease-in-out;
	-webkit-appearance:none;
	position: relative;
}
.submit {
	position: relative;
	display: inline-block;
}
.submit:before {
    content: "";
    position: absolute;
    background: white;
    left: -20px;
    top: -20px;
    width: calc(100% + 80px);
    height: calc(100% + 40px);
    border-radius: 4px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.submit:hover:before {
    opacity: 1;
}
.submit:after {
    content: "";
    position: absolute;
    background: url('../images/arrowright.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% right;
    top: 0;
    right: -38px;
    width: 30px;
    height: 100%;
  -webkit-animation: slide 1.5s linear infinite;
     -moz-animation: slide 1.5s linear infinite;
          animation: slide 1.5s linear infinite;
}


@-webkit-keyframes slide
{
    0%   {transform: translate3d(5px,0,0)}
    50% {transform: translate3d(0px,0,0)}
    100%   {transform: translate3d(5px,0,0)}
}

@-moz-keyframes slide
{
    0%   {transform: translate3d(5px,0,0)}
    50% {transform: translate3d(0px,0,0)}
    100%   {transform: translate3d(5px,0,0)}
}

@keyframes slide
{
    0%   {transform: translate3d(5px,0,0)}
    50% {transform: translate3d(0px,0,0)}
    100%   {transform: translate3d(5px,0,0)}
}
.bg-cover-push,
.bg-cover-alerts,
.bg-cover-scenes {
	position: absolute;
	background: url('../images/lumoscenes.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.bg-cover-alerts {
	background: url('../images/bedroomphone.png');
	background-size: 100%;
	background-position: center;
}
.bg-cover-alerts {
	background: url('../images/bedroomphone.png');
	background-size: 100%;
	background-position: center;
}
.bg-cover-push {
	background: url('../images/pushphone.png');
	background-size: 100%;
	background-position: center;
}
.bg-cover-copy {
	width: 50%;
}
.phones {
	position: relative;
	z-index: 3;
}

.slider img {
	width: 100%;
}

p {
	font-size: 2.35vw;
	line-height: 4.1vw;
}
p b {
	font-family: 'avenir-heavy'
}
.footer p,
.footer a {
	font-size: 22px;
	line-height: 35px;
}

.bottom-cta {
	text-decoration: none;
	color: #4dd1ff;
}

ul,
li {
	list-style: none;
}

.footer a {
	color: black;
	text-decoration: none;
}

.footer p {
	text-align: right;
}


.button-holder {
	padding: 30px 0 0;
}

.button-holder img {
	width: 100px;
	margin-right: 8px;
}

.button-holder img:hover {
	background: #4dd1ff;
}
.emailmailchimp {
	margin-top: 60px;
}
@media (min-width: 1280px) {
	h1 {
		font-size: 33px;
		line-height: 60px;
	}

	p {
		line-height: 47px;
		font-size: 24px;
	}
}

@media (max-width: 800px) {
	img.logo {
		width: 48%;
		margin-top: 0px !important;
		max-width: 100px;
	}
	.cta {
		font-size: 16px;
	}
	.emailmailchimp {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.inliner,
	.inliner * {
		display: inline;
	}

	.logo {
		width: 20%;
	}

	.container.flex,
	.container .flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.footer .flex {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}

	.container {
		padding: 6% 20px;
	}

	.flex-one {
		min-width: 100%;
	}

	.slider {
		margin-bottom: 30px;
	}

	.logo {
		margin: 0 0 30px;
	}

	.flower {
		display: none;
	}

	h1 {
		font-size: 5vw;
		line-height: 7.4vw;
	}

	p,
	.footer p,
	.footer a {
		font-size: 4vw;
		line-height: 5.8vw;
	}

	.space {
		margin-bottom: 0;
		padding-bottom: 2%;
	}

	.button-holder img {
		width: 24%;
		max-width: 100px;
		margin-right: 8px;
	}

	.button-holder {
		padding: 4% 0 0;
	}
}
.descriptor {
	color: rgba(0,0,0,.4);
	font-weight: bold;
}
.hero {
	background: #E1F7FD
}
.image-hold-top {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1f7fd+0,e1f7fd+50,fcfcfc+50,ffffff+100 */
	background: rgb(225,247,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,247,253,1) 0%, rgba(225,247,253,1) 50%, rgba(252,252,252,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(225,247,253,1) 0%,rgba(225,247,253,1) 50%,rgba(252,252,252,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(225,247,253,1) 0%,rgba(225,247,253,1) 50%,rgba(252,252,252,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f7fd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.image-hold-bottom {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,fcfcfc+50,e1f7fd+50,e1f7fd+50,e1f7fd+100 */
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 50%, rgba(225,247,253,1) 50%, rgba(225,247,253,1) 50%, rgba(225,247,253,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(252,252,252,1) 50%,rgba(225,247,253,1) 50%,rgba(225,247,253,1) 50%,rgba(225,247,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(252,252,252,1) 50%,rgba(225,247,253,1) 50%,rgba(225,247,253,1) 50%,rgba(225,247,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e1f7fd',GradientType=0 ); /* IE6-9 */
}
.container-small-pad,
.container-no-pad {
	margin: auto;
	max-width: 860px;
	padding: 0 20px;
	width: 100%;	
}
.container-small-pad {
	padding: 3% 20px 9%;
}
.blue {
	background: #E1F7FD
}
.container-no-pad img {
	width: 100%;
}